/* БъЬт */
.header {
    padding: 30px;
    text-align: center;
    color: white;
}
.top{
	width:100%;
	height:40px;
	background-color: #E6E6E6;
	margin-bottom: 20px;
	border-radius: 5px;
}
.content{
}

.footer{
	width:100%;
	height:50px;
	position: fixed;
	background-color: #E6E6E6;
	top:900px;
	margin-bottom: 20px;
	border-radius: 5px;
}


 .box{
 	padding:50px;
 }
 
.resource{
	
	margin-right:100px;
	display: flex;
	width:100%;
	background-color: #E6E6E6;
	margin-bottom: 20px;
	border-radius: 5px;

}
.staticResource{
	width:200px;
}
.content{
	display: flex;
}
.dynamicResource{
	
	width:400px;
	background-color: orange;
	
}
.article{
	width:1000px;
	background-color: maroon;
}